.polaroid-gallery {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-left: 0 20px;
}


.polaroid {
  width: 260px;
  height: 340px; 
  background-color: white;
  padding: 12px 12px 20px 12px; 
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;       
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0;
}

.polaroid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.polaroid .caption {
  font-family: 'Handlee', serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--onyx);
  margin-top: auto;
   }


.polaroid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 40px;
  justify-items: center;
}

.cute-audio-box {
    background: var(--blush);             
    border-radius: 15px;
    width: 250px;                    
    padding: 10px;
    margin: 10px auto 30px auto;   
    text-align: center;
    box-shadow: 0 3px 8px rgba(255, 170, 200, 0.4);
    flex-direction: column;
}

.cute-audio-box audio {
    width: 100%;
    border-radius: 10px;
    flex-basis: 100%;
}

