

header {
    position: fixed;
    padding: 20px 0;
    text-align: center;
    margin: 0;
    color: var(--lavender-floral);
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    background-color: var(--onyx);
    line-height: 80px;
    z-index: 100;
}


header h1 {
    margin: 0;
    font-size: 48px;
    font-family: var(--font-title);
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--onyx);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 
 body > h1 {
    text-align: center;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Dancing Script", cursive;
    font-size: 48px;
    z-index: 10; 
    position: relative;
    color: var(--lavender-floral);
    text-shadow:0 0 6px rgba(194, 135, 232, 0.7) ;
}



nav.sidebar {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    width: 250px;
    background-color: var(--onyx);
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Cherry Swash', serif;
    text-align: center;
    z-index: 90;
    font-size: 22px;
}

nav.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.sidebar li a {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--lavender-floral);
    padding: 10px 0;
    text-decoration: none;
    transition: background-color 0.3s;
    padding-right: 5px;
}

nav.sidebar li a:hover {
    background-color: #586358;
    color: white;
}

nav.sidebar li a.active {
    background-color: #8a8f7f;
    color: white;
    font-weight: bold;
}

main {
  padding: 40px;
  margin-left: 260px;
  box-sizing: border-box;
}


footer {
    width: 100%;
    background-color: var(--onyx);
    color: var(--lavender-floral);
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
